.todo-detail {
  border: 1px solid #333;
  margin: 1rem 3rem;
  padding: 1rem;
  background-color: transparentize(#000, .3);
  color: #fff;


  &:hover{
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  }
}
