<div *ngFor="let todo of todos;">
  <p class="d-flex justify-content-between align-items-center px-5 todo-detail" >{{ todo.todo }}
    <span>
      <button type="button" name="button" class="btn btn-danger" (click)="removeTodo(todo.id)">Delete</button>
    </span>
  </p>
</div>
