<div class="text-center my-3">
  <form class="" action="index.html" method="post">
    <input class="w-50" type="text" name="new-todo" placeholder="enter a new todo" [(ngModel)]="todoState">
    <input class="ml-3 btn btn-primary" type="submit" name="submit" value="Submit" (click)="pushToTodos()">
  </form>
</div>
