<div class="container">
  <div class="todo-content">
    <div class="row">
      <div class="col-12 my-5">
        <h1 class="header-title text-center">Todo list</h1>
      </div>
      <div class="col-12">
        <app-todo-input (todo)="newTodo($event)"></app-todo-input>
      </div>
      <div class="col-12 mb-5">
        <app-todo-list
          [todos]="todos"
        ></app-todo-list>
      </div>
    </div>
  </div>
  </div>


<router-outlet></router-outlet>
