/* You can add global styles to this file, and also import other style files */
body {
  background-color: #0D98BA;
}

.container {
    width: 100%;
    max-width: 1600px;
    position: relative;
}


.btn{
  border-radius:  0;
  font-size: .95rem;
}
